<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li id="homeH">
                <a href="/">Home</a>
            </li>
            <li id="travelH">
                <a href="/travel">Travel</a>
            </li>
            <li id="roomsH">
                <a href="/rooms">Rooms</a>
            </li>
            <li id="mealsH">
                <a href="/meals">Meals</a>
            </li>
            <li id="newsH">
                <a href="/news">News</a>
            </li>
            <li id="aboutH">
                <a href="/about">About</a>
            </li>
            <li id="contactH">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>